@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon Stylist Portal!</h1>
<div class="Stylist">
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
</div>
<div class="Client"
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
</div>