@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Confirm deletion of this client</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-danger"/>
}
@Html.ActionLink("View all clients", "Index")